:root{
    --ff:font-family: "Outfit", sans-serif;
    --fs-p:15px;
    --fw-400:400;
    --fw-700:700;

    --bg-color:hsl(212, 45%, 89%);
    --card-bg:hsl(0, 0%, 100%);
    --p-text-color:hsl(216, 15%, 48%);
    --bold-text-color:hsl(218, 44%, 22%);

    --attribution-text:11px;
    --attribution-a-color:hsl(228, 45%, 44%);

}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--ff);
    font-size: var(--fs-p);
    background-color: var(--bg-color); 
}

.parent{
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    background-color: var(--card-bg);
    width: 340px;
    height: 500px;
    padding: 20px;
    border-radius: 20px;
}

img{
    width: 300px;
    height: auto;
    max-width: 500px;
    object-fit: cover;
    object-position: center;
}

.texts{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 1.3rem;
}

.bold-text{
    font-size: 24px;
    font-weight: var(--fw-700);
    color: var(--bold-text-color);
}
 .normal-text{
    color: var(--p-text-color);
    font-weight: var(--fw-400);
    font-size: var(--fs-p);
}




